.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
}
 
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-datatable .ui-datatable-footer .footer-section {
    text-align: left;
}

.formatButon{
     width: 230px;
     border-radius: 0px
    
    
}

.column {
    font-weight: bold;
    background-color: menu;
}

.ui-widget-content a {
    color: #8dc5d9;
}

.ui-widget-content{
    background: none;
     
}

.ui-layout-unit .ui-layout-unit-content{
    padding: 0.0em 0em;
    border: 0px none;
    overflow: auto;

    
    
}

  .personal, .personal .fc-event-skin .personal a{ background: red !important; } 
  .negocios, .negocios .fc-event-skin .negocios a{ background: green !important; } 
  .familiar, .familiar .fc-event-skin .familiar a{ background: darkmagenta  !important;   } 
  .trabajo,  .trabajo .fc-event-skin  .trabajo  a{ background: brown !important; } 